// FONTS
@import '_mixins.scss';
@import 'loader.scss';

// COLOR
$brand-color: #ffd45b;
$white: #fff;
$black: #131517;
$grey: #ddd;
$grey-light: #f3f3f5;
$red: #e34e47;
$blue: #409ad7;
$green: #34ba9c;
$bg-color: #fdfdfd;

// LOADER
.Loader__background {
  background-color: rgba(255, 212, 91, 1)!important;
  position: fixed!important;
  z-index: 1000!important;
}

.Loader__foreground{
  display: table;
}

.Loader__message{
  display: table-cell;
  vertical-align: middle;
  color: #000000;
  font-size: 20px;
}

// BREAKFAST
$breakpoint-md: 600px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;
$breakpoint-xxxl: 2100px;


@mixin mddn() { @media (max-width: $breakpoint-md) { @content; } }
@mixin md() { @media (min-width: $breakpoint-md) { @content; } }
@mixin lg() { @media (max-width: $breakpoint-lg) { @content; } }
@mixin xl() { @media (min-width: $breakpoint-xl) { @content; } }
@mixin xxl() { @media (min-width: $breakpoint-xxl) { @content; } }
@mixin xxxl() { @media (min-width: $breakpoint-xxxl) { @content; } }

html {
  font-size: 10px;

  @include xxl {
    font-size: 12px;
  }

  @include xxxl {
    font-size: 14px;
  }
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: $blue;
  margin-bottom: 5rem;
}

h2,
h3,
h4 {
  margin-top: 5rem;
}

// FOOTER 
.Footer {
  background: $black;
  padding: 10vh 0;
  margin-top: 10rem;

  .footerHeading{
    font-family: 'Anton';
    font-size: 50px;
    font-weight: 400;
    color: $white;
  }
  .email{
    color: $white;
    .label{
      font-size: 22px;
      font-weight: 500;
      font-family: 'Roboto';
    }
    .email-id{
      a{
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 400;
        color: $white;
        &:hover{
          font-size: 20px;
          font-weight: 400;
        }
        &:focus{
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }

  .number{
    color: $white;
    .icon{
      font-size: 22px;
      color: $white;
    }
    .tag-names{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 22px;
      a{
        color: $white;
      }
    }
  }

  @include md {
    padding: 20vh 0;
  }

  h1 {
    font-size: 4em;
    margin: 0;
  }

  h2 {
    font-size: 2.4em;
    margin: 0 0 5rem;
  }

  button {
    background: none;
    border: 1px solid rgba($black, 0.25);
    border-radius: 5rem;
    color: $black;
    cursor: pointer;
    padding: 1.1rem 2rem;
    transition: border 250ms;

    &:hover,
    &:focus {
      border: 1px solid $black;
    }
  }
}

.Footer-links {
  margin: 1rem 0 5rem;

  a {
    font-size: 2rem;
    margin: .5rem;
    padding: 0.4rem 0;
  }
}

.StickyText {
  bottom: 0;
  left: 0;
  max-width: 54rem;
  opacity: 0;
  padding: 0 2rem;
  position: fixed;
  width: 100%;

  @include md {
    left: auto;
    padding: 0;
  }

  h2 {
    margin: 0;
    transform: translateY(50%);
  }
}

.StickyText-trigger {
  margin-top: 50vh;
}

.Content {
  max-width: 120rem;
  padding: 5rem 2rem;
  position: relative;
  width: 100%;
}

// PHONE
$phone-ratio: 2.01;

.Phone {
  height: 15rem * $phone-ratio;
  margin: 0 auto;
  position: relative;
  transform: rotate(90deg) scale(0);
  width: 15rem;

  height: 25rem * $phone-ratio;
    width: 25rem;
}

.Phone-svg {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10;
}

.Phone-content {
  height: 74%;
  left: 8%;
  overflow: hidden;
  position: absolute;
  top: 13.5%;
  width: 85%;
  z-index: 0;
}

.Phone-contentPlx {
  background: $blue;
  height: 100%;
  width: 100%;
}

.Phone-contentSection {
  background: $red;
  color: $white;
  font-size: 3rem;
  font-weight: 300;
  height: 100%;
  padding-top: 75%;
  text-align: center;
  width: 100%;

  &:nth-child(2) { background: $blue; }
  &:nth-child(3) { background: $green; }

  
  font-size: 5rem;
}

// INTRO SCREEN
.intro-board {
  background: $brand-color;
  min-height: 600px;
  .hello{
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 400;
    color: #000000;
  }
  .author-pic{
    width: 230px;
    height: auto;
  }
  .author-name{
    font-family: 'Anton';
    font-size: 50px;
    font-weight: 400;
    color: #000000;
  }
  .author-story{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 200;
    color: #000000;
  }
}

// EXPLOD BOX
.Explosion {
  height: 24rem;
  margin: 0 auto 10rem;
  position: relative;
  width: 24rem;
}

.explosive-box{
  height: 70px;
  line-height: 70px;
  color: #9c9c9c;

  @include mddn {
    font-size: 13px;
    margin-right: 14px;
    margin-left: 14px;
  }
  @include md {
    font-size: 13px;
  }
  
  @include lg {
    font-size: 16px;
  }
  
  @include xl {
    font-size: 22px;
  }
  
  @include xxl {
    font-size: 22px;
  }
  
  @include xxxl {
    font-size: 22px;
  }
}
.potImage{
  color: $brand-color;
  font-size: 250px;
}

// PORFOLIO FRAMES
$phone-ratio: 2.01;
.portfolio-brief{
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 300;
  color: #9c9c9c;
}
.portfolio-frames{
  min-height: 500px;
  .portfolio-sections{
    min-height: 650px;
    .tech-used{
      h2{
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 400;
        color: #000000;
      }
      p{
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 200;
        color: #9c9c9c;
      }
      span{
        &.badge{
          padding: 6px 10px;
          font-family: 'Roboto';
          font-size: 14px;
          color: $black;
          margin-bottom: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
.indiviualPortfolioHeading{
  font-family: 'Anton';
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.Desktop {
  width: 15rem;
  height: 15rem * $phone-ratio;
  float: left;
  position: relative;
 
  height: 25rem * $phone-ratio;
    width: 25rem;
}

.Desktop-content {
  height: 33rem;
  left: 5rem;
  overflow: hidden;
  position: absolute;
  top: 7rem;
  width: 55.8rem;
  z-index: -1000;
}

.Phone {
  width: 15rem;
  height: 15rem * $phone-ratio;
  float: left;
  position: relative;
  height: 25rem * $phone-ratio;
    width: 25rem;
}

.Phone-content {
  height: 38rem;
  left: 1.5rem;
  overflow: hidden;
  position: absolute;
  top: 6rem;
  width: 21rem;
  z-index: -1000;
}

.techstackHeading{
  font-family: 'Anton';
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}
.portfoliostackHeading{
  font-family: 'Anton';
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}
.portfolioHeading{
  font-family: 'Anton';
  font-size: 50px;
  font-weight: 400;
  color: #000000;
}
.desktop {
  background-image: url('../../public/images/apple-laptop.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 69rem;
  .desktopContent{
    background-repeat: no-repeat;
    background-position: 32px 0px;
    background-size: contain;
    width: 100%;
  }
}
.mobile{
  background-image: url('../../public/images/iPhone6-Black.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 24rem;
  .phoneContent{
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: contain;
    width: 100%;
  }
}

.gjDesktop{
  background-image: url('../../public/images/gj_desktop.png');
  height: 2226px;
}
.gjMobile{
  background-image: url('../../public/images/gj_mobile.png');
  height: 4681px;
}


.ikDesktop1{
  background-image: url('../../public/images/icici_one.png');
  height: 38rem;
}

.ikDesktop2{
  background-image: url('../../public/images/icici_two.png');
  height: 38rem;
}

.ikDesktop3{
  background-image: url('../../public/images/icici_three.png');
  height: 38rem;
}

.rsDesktop{
  background-image: url('../../public/images/robosoft_desktop.png');
  height: 165rem;
}
.rsMobile{
  background-image: url('../../public/images/robosoft_mobile.png');
  height: 124rem;
}

.bridgesDesktop1{
  background-image: url('../../public/images/bridgesDesktop1.png');
  height: 47rem;
}
.bridgesDesktop2{
  background-image: url('../../public/images/bridgesDesktop2.png');
  height: 47rem;
}

@include xxl {
  .desktop {
    .desktopContent{
      background-position: 46px 0px;
    }
  }
}